/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

/* Estilos para el contenedor del encabezado */
#header {
  /* Ajustes de posicionamiento y diseño */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0%;
  background-color: #ffffff; 
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}




/*ViajayExplora*/

.div-general {
  flex: 1 0 auto;
}



h1 {
  font-weight: bold;
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 5px;
  border-bottom: 0;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
}


/* Estilos para la barra de navegación */
.div-nav-general {
  /* Ajustes de diseño y presentación */
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200%;
  background-color:#ffffff; 
  padding:10px 5%;
}

.div-nav ul {
  margin-top: 10px;
  align-items: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.div-nav ul li {
  margin-right: 10px; 
  margin-bottom: 10px;
}


.div-nav ul li a {
  font-family: "Roboto Slab", serif;
  position: relative;
  color: #444; 
  text-decoration: none;
  font-size: 15px;
  padding: 10px 20px ;
}


.div-nav ul li a:before {
  color: black;
  text-shadow: 2px 2px 2px rgb(255, 255, 255); 		
}

.div-nav ul li a:hover {
  color: #ffffff ;
  text-shadow: 2px 2px 2px black; 
}

.div-nav ul li a:hover:before {
      color: #ffffff ;
}

/* Estilos para el área de inicio de sesión */
.inicio_sesion {
  display: flex;
  font-family: "Roboto Slab", serif;
  text-align: center;
  font-size: 15px;
  padding: 10px 10px;
  margin: 0;
  color: rgb(0, 0, 0);
  width: 20%;
}


/*Menu desplegable Usuario estilos*/
.usuario {
  position: relative;
  display: inline-block;
  padding: 10px 60px 10px 0px;
  cursor: pointer;
}

.menu-usuario {
  display: none;
  position: absolute;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  background-color:#ffffff; 
  top: 100%;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;
}

.menu-usuario a {
  color: #444;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

.usuario:hover .menu-usuario {
  display: block;
}

.usuario img:hover {
  transform: scale(1.1);
}


/*Estilo centro web*/
body {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*Estilos del área de contenidos principal*/
#div-1{
  position: relative;
  display: flex;
  font-family: "Roboto Slab", serif;
  text-align: center;
  overflow: hidden;
  color: #000000; 
  font-size: 50px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 100px 5%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);/*Borde*/
  background-color:#ffffff50; /*Color de fondo*/
}

#div-1 img {
  width: 100%; 
  height: 100%;
  object-fit: contain;
}


#div-1 .centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto Slab", serif;
  text-align: center;
  text-shadow: 4px 2px 4px rgb(255, 251, 251); /* Sombra blanca */
  z-index: 1;
  padding: 20px;
}

#div-1 .centro h2  {
  font-family: "Roboto Slab", serif;
  font-size: 80px; /* Cambia el tamaño del texto "viaja y explora" */
  margin-bottom: 40px;
}

#div-1 .centro p {
  font-family: "Roboto Slab", serif;
  font-size: 22px; /* Ajusta el tamaño del párrafo según sea necesario */
  min-height: 30px;
}


/*Parte baja index*/
#div-2 {
  position: relative;
  font-family: "Roboto Slab", serif;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 100px 5%;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  background-color: #ffffff50; 
  
}


#div-2 h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
  color: #000000;
  font-size: 30px; /* Tamaño de fuente */
  margin-bottom: 20px; /* Espacio entre el título y el párrafo */
}

/* Estilos para el contenedor de las colecciones */
#div-2.colecciones {
  display: flex;
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

/* Estilos para cada colección */
.coleccion {
  margin-bottom: 20px; /* Añade un margen inferior para separar las colecciones */
  text-align: center; /* Centra el contenido horizontalmente */
  font-size: 30px;
}

.coleccion img {
  width: 200px; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
}

.coleccion h3, .coleccion p {
  margin-top: 10px; /* Añade un margen superior a los títulos y párrafos */
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

/*Fonde de la Web*/
.fondo-mar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  z-index: -2; /* Coloca la imagen del mar detrás de los elementos div-1 y div-2 */
}



/*Footer*/

#div-footer{
  flex-shrink: 0;
  background-color: #ffffff00;  
  color: #444;
  font-family: "Roboto Slab", serif;
  text-align: center; 
  padding: 20px 0;
}

.contenedor-footer {
  text-align: center;
}

/* Media queries para pantallas pequeñas */
@media screen and (max-width: 768px) {
  #header {
    padding: 10px 2%; /* Ajustar el padding del contenedor */
  }

  .div-nav ul li {
    margin-right: 5px; /* Reducir el espacio entre elementos */
  }

  .logo img {
    margin-left: 2%; /* Ajustar el margen del logo */
  }

  .inicio_sesion a {
    font-size: 14px; /* Reducir el tamaño de fuente */
  }

  #div-1 {
    font-size: 24px; /* Reducir el tamaño de fuente */
    height: 300px; /* Reducir la altura */
  }
}







